<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.UpdateCheckerBase>
        <SkipVersion>False</SkipVersion>
        <CheckedUpdate>0.0</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
      <Bluegrams.Application.CustomSettings>
        <ShowInTaskbar>True</ShowInTaskbar>
        <TopMost>False</TopMost>
        <CapturingInterval>50</CapturingInterval>
        <Settings>
          <Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ScaledVisible>true</ScaledVisible>
            <RelativeVisible>true</RelativeVisible>
            <DpiVisible>true</DpiVisible>
            <ScreenResolutionVisible>true</ScreenResolutionVisible>
            <PixelColorVisible>true</PixelColorVisible>
            <DarkMode>false</DarkMode>
            <PositionLogVisible>false</PositionLogVisible>
            <Capturing>true</Capturing>
            <ShortcutKey>Back ShiftKey FinalMode H P X Control Alt</ShortcutKey>
            <FontFamilyName>Segoe UI</FontFamilyName>
            <FontSize>12</FontSize>
            <DataFormatPoint>{name}: X={x},Y={y}</DataFormatPoint>
            <DataFormatDpi>Dpi: {dpi}; Raw Dpi: {rawDpi}; Dpi Ratio: {dpiRatio}</DataFormatDpi>
            <DataFormatResolution>{name}: {x}x{y}</DataFormatResolution>
            <DataFormatColor>Pixel Color: {value}</DataFormatColor>
          </Settings>
        </Settings>
        <Opacity>1</Opacity>
      </Bluegrams.Application.CustomSettings>
    </Roaming>
    <PC_MONTYSLAPTOP>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>-2147483648</Width>
        <Height>-2147483648</Height>
        <Left>0</Left>
        <Top>0</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_MONTYSLAPTOP>
    <PC_MONTY>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>-2147483648</Width>
        <Height>-2147483648</Height>
        <Left>0</Left>
        <Top>0</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_MONTY>
  </userSettings>
</configuration>